<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>healthcheck</servlet-name>
        <servlet-class>com.lettucedate.server.healthcheck</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDates</servlet-name>
        <servlet-class>com.lettucedate.server.UserDates</servlet-class>
    </servlet>


    <servlet-mapping>
        <servlet-name>healthcheck</servlet-name>
        <url-pattern>/api/v1/healthcheck</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserDates</servlet-name>
        <url-pattern>/api/v1/dates</url-pattern>
    </servlet-mapping>


</web-app>
