<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
        <servlet-name>healthcheck</servlet-name>
        <servlet-class>com.lettucedate.server.healthcheck</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>FBLogin</servlet-name>
        <servlet-class>com.lettucedate.server.FBLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserProfile</servlet-name>
        <servlet-class>com.lettucedate.server.UserProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddVenue</servlet-name>
        <servlet-class>com.lettucedate.server.admin.AddVenue</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>YelpSearch</servlet-name>
        <servlet-class>com.lettucedate.server.YelpSearch</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>ActivityNames</servlet-name>
        <servlet-class>com.lettucedate.server.admin.ActivityNames</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>DateServlet</servlet-name>
        <servlet-class>com.lettucedate.server.DateServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>GenderNames</servlet-name>
        <servlet-class>com.lettucedate.server.admin.GenderNames</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EthnicityNames</servlet-name>
        <servlet-class>com.lettucedate.server.admin.EthnicityNames</servlet-class>
    </servlet>


    <!-- servlet mappings -->

    <servlet-mapping>
        <servlet-name>GenderNames</servlet-name>
        <url-pattern>/api/v1/admin/gendernames</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>EthnicityNames</servlet-name>
        <url-pattern>/api/v1/admin/ethnicitynames</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>DateServlet</servlet-name>
        <url-pattern>/api/v1/date</url-pattern>
    </servlet-mapping>


    <servlet-mapping>
        <servlet-name>ActivityNames</servlet-name>
        <url-pattern>/api/v1/admin/activitynames</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>YelpSearch</servlet-name>
        <url-pattern>/api/v1/yelpsearch</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>AddVenue</servlet-name>
        <url-pattern>/api/v1/admin/addvenue</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>UserProfile</servlet-name>
        <url-pattern>/api/v1/user/profile</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>FBLogin</servlet-name>
        <url-pattern>/api/v1/user/facebooklogin</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>healthcheck</servlet-name>
        <url-pattern>/api/v1/healthcheck</url-pattern>
    </servlet-mapping>



    <servlet>
        <servlet-name>VenueEntry</servlet-name>
        <jsp-file>/VenueEntry.jsp</jsp-file>
    </servlet>



    <servlet-mapping>
        <servlet-name>VenueEntry</servlet-name>
        <url-pattern>/admin/venueentry</url-pattern>
    </servlet-mapping>

</web-app>
